
@model ML.Hospital
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Freelancer - Start Bootstrap Theme</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/body.css">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">SCISA </a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">ADMINISTRAR</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">INFORMACION</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="~/assets/img/portfolio/Hosp.png" alt="">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">BIENVENIDO</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">HOSPITAL SCISA</p>
        </div>
    </header>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">ADMINISTRAR</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                @*<a href="@Url.Action("GetAll", "Paciente")">
                                    <i class="fas fa-plus fa-3x"> </i>
                                </a>*@
                            </div>
                        </div><img class="img-fluid" src="~/assets/img/portfolio/Pac.png" alt="Log Cabin" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">

                                @*<a href="@Url.Action("GetAll", "Doctor")">
                                    <i class="fas fa-plus fa-3x"> </i>
                                </a>*@
                            </div>

                        </div><img class="img-fluid" src="~/assets/img/portfolio/Doc.png" alt="Tasty Cake" />
                    </div>

                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                @*<a href="@Url.Action("GetAll", "Cita")">
                                    <i class="fas fa-plus fa-3x"> </i>
                                </a>*@
                            </div>
                        </div><img class="img-fluid" src="~/assets/img/portfolio/Cita.png" alt="Circus Tent" />
                    </div>
                </div>


            </div>
        </div>
    </section>


    <!-- Portfolio Modal-->
    <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Paciente</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/assets/img/portfolio/Pac.png" alt="Tasty Cake" />
                                <!-- Portfolio Modal - Text-->

                                <div class="container">
                                    <h2>Paciente</h2>

                                    <div class="row">
                                        <div style="float:left">

                                            <a href="@Url.Action("Form", "Paciente")">
                                               <i class="fas fa-plus fa-3x"> </i>
                                            </a>
                                            @*@Html.ActionLink("Agregar Paciente", "Form", "Paceinte", htmlAttributes: new { @class = "btn btn-success" })*@
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <table class="table table-responsive" id="tblPaciente">
                                            <thead>
                                                <tr>

                                                    <th> <center>Editar </center></th>
                                                    <th class="hidden"> <center>Id Paciente </center></th>
                                                    <th> <center>Nombre </center></th>
                                                    <th> <center>Feccha de Nacimiento </center></th>
                                                    <th> <center>CURP </center></th>
                                                    <th> <center>NSS </center></th>
                                                    <th> <center>Sexo </center></th>
                                                    <th> <center>Telefono </center></th>
                                                    <th> <center>Direccion </center></th>
                                                    <th> <center>Codigo Postal </center></th>
                                                    <th> <center>Diagnostico </center></th>
                                                    <th> <center>Eliminar </center></th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ML.Paciente paciente in Model.Paciente.Pacientes)
                                                {
                                                    <tr>

                                                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning" href="@Url.Action("Form", "Paciente", new { Id_Paciente = paciente.Id_Paciente })"><i class="bi bi-pencil-square"></i></a></td>
                                                        <td>@paciente.Id_Paciente </td>
                                                        <td> <center>@paciente.Nombre @paciente.ApellidoPaterno @paciente.ApellidoMaterno </center></td>
                                                        <td> <center>@paciente.FechaNacimiento </center></td>
                                                        <td> <center>@paciente.CURP </center></td>
                                                        <td> <center>@paciente.NSS </center></td>
                                                        <td> <center>@paciente.Sexo </center></td>
                                                        <td> <center>@paciente.Telefono </center></td>
                                                        <td> <center>@paciente.Direccion </center></td>
                                                        <td> <center>@paciente.CodigoPostal </center></td>
                                                        <td> <center>@paciente.Diagnostico </center></td>


                                                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger" href="@Url.Action("Delete", "Paciente", new { Id_Paciente= paciente.Id_Paciente})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-trash"></i></a></td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content modal-xl">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Doctor</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/assets/img/portfolio/Doc.png" alt="Tasty Cake" />
                                <!-- Portfolio Modal - Text-->
                               

                                <div class="container">
                                    <h2>Doctores</h2>
                                    <div class="row">
                                        <div style="float:left">
                                            <a href="@Url.Action("Form", "Doctor")">
                                                <i class="fas fa-plus fa-3x"> </i>
                                            </a>
                                            @*@Html.ActionLink("Agregar Doctor", "Form", "Doctor", htmlAttributes: new { @class = "btn btn-success" })*@
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <table class="table table-responsive" id="tblDoctor">
                                            <thead>
                                                <tr>

                                                    <th> <center>Editar </center></th>


                                                    <th> <center>Id Doctor </center></th>
                                                    <th> <center>Nombre </center></th>
                                                    <th> <center>Fotografia </center></th>
                                                    <th> <center>Cedula </center></th>
                                                    <th class="hidden"> <center>Id Especialidad </center></th>
                                                    <th> <center>Especialidad </center></th>
                                                    <th> <center>Eliminar </center></th>



                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ML.Doctor doctor in Model.Doctor.Doctores)
                                                {
                                                    <tr>

                                                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning" href="@Url.Action("Form", "Doctor", new { Id_Doctor = doctor.Id_Doctor })"><i class="bi bi-pencil-square"></i></a></td>
                                                        <td><center>@doctor.Id_Doctor </center></td>
                                                        <td> <center>@doctor.Nombre  @doctor.ApellidoPaterno @doctor.ApellidoMaterno   </center></td>
                                                        @*<td> <center>@doctor.Fotografia </center></td>*@
                                                        <td>
                                                            @if (doctor.Fotografia != null)
                                                            {
                                                                <img  src="data:image/*;base64,@doctor.Fotografia" width="50" height="50" />

                                                            }
                                                            else
                                                            {
                                                                <img id="ImagenPreview" src="~/Img/doctordefault.jpg" style=" height:50px; width:50px;" />
                                                            }

                                                        </td>
                                                        <td> <center>@doctor.Cedula </center></td>
                                                        <td class="hidden"> <center>@doctor.Especialidad.Id_Especialidad </center></td>
                                                        <td> <center>@doctor.Especialidad.Descripcion </center></td>





                                                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger" href="@Url.Action("Delete", "Doctor", new { Id_Doctor= doctor.Id_Doctor})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-trash"></i></a></td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>




                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Agendar Cita</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="~/assets/img/portfolio/Cita.png" alt="Circus Tent" />
                                <!-- Portfolio Modal - Text-->
                                <div class="container">
                                    <h2>Citas</h2>
                                    <div class="row">
                                        <div style="float:left">

                                            <a href="@Url.Action("Form", "Cita")">
                                                <i class="fas fa-plus fa-3x"> </i>
                                            </a>

                                            @*  @Html.ActionLink("Agregar Cita", "Form", "Cita", htmlAttributes: new { @class = "btn btn-success" })*@
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <table class="table table-responsive" id="tblCita">
                                            <thead>
                                                <tr>

                                                    <th> <center>Editar </center></th>
                                                    <th class="hidden"> <center>Id Cita </center></th>
                                                    <th> <center>Fecha Cita </center></th>
                                                    <th> <center>Hora Cita </center></th>
                                                    <th class="hidden"> <center>IdMedico </center></th>
                                                    <th> <center>Medico </center></th>
                                                    <th class="hidden"> <center>Id Paciente </center></th>
                                                    <th> <center>Paciente </center></th>
                                                    <th> <center>Eliminar </center></th>



                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ML.Cita cita in Model.Cita.Citas)
                                                {
                                                    <tr>

                                                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-warning" href="@Url.Action("Form", "Cita", new { Id_Cita = cita.Id_Cita })"><i class="bi bi-pencil-square"></i></a></td>
                                                        <td >@cita.Id_Cita </td>
                                                        <td> <center>@cita.FechaCita </center></td>
                                                        <td> <center>@cita.HoraCita </center></td>
                                                        <td>@cita.Doctor.Id_Doctor </td>
                                                        <td> <center>@cita.Doctor.Nombre  @cita.Doctor.ApellidoPaterno </center></td>
                                                        <td>@cita.Paciente.Id_Paciente </td>
                                                        <td> <center>@cita.Paciente.Nombre  @cita.Paciente.ApellidoMaterno </center></td>

                                                        <td style="text-align: center; vertical-align: middle;"><a class="btn btn-danger" href="@Url.Action("Delete", "Cita", new { Id_Cita = cita.Id_Cita})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><i class="bi bi-trash"></i></a></td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="pre-wrap lead">Examen para Desarrollador .Net</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="pre-wrap lead">Jorge Arturo Arteaga Castillo</p>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                        <div class="text-muted">Phone</div>
                        <div class="lead font-weight-bold">(555) 555-5555</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                        <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:aarteaga@gmail.com">aarteaga@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">LOCATION</h4>
                    <p class="pre-wrap lead mb-0">Monterrey,México.</p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/StartBootstrap"><i class="fab fa-fw fa-facebook-f"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.twitter.com/sbootstrap"><i class="fab fa-fw fa-twitter"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/startbootstrap"><i class="fab fa-fw fa-linkedin-in"></i></a><a class="btn btn-outline-light btn-social mx-1" href="https://www.dribble.com/startbootstrap"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="mb-4">ABOUT FREELANCER</h4>
                    <p class="pre-wrap lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by Start Bootstrap</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap">Copyright © Your Website 2020</small></div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
</body>
</html>


@section Scripts
                                 {

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.material.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tblDoctor').DataTable({
                searching: false,
                "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
                autoWidth: false,
                columnDefs: [
                    {
                        targets: ['_all'],
                        className: 'mdc-data-table__cell',
                    },
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                },
            });
        });

        $(document).ready(function () {
            $('#tblPaciente').DataTable({
                searching: false,
                "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
                autoWidth: false,
                columnDefs: [
                    {
                        targets: ['_all'],
                        className: 'mdc-data-table__cell',
                    },
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                },
            });
        });


        $(document).ready(function () {
            $('#tblCita').DataTable({
                searching: false,
                "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
                autoWidth: false,
                columnDefs: [
                    {
                        targets: ['_all'],
                        className: 'mdc-data-table__cell',
                    },
                ],
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                },
            });
        });






    </script>


}