@model ML.Doctor
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("Form", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Id_Doctor, new { @class = "d-none" })
                            @Html.TextBoxFor(model => model.Id_Doctor, new { @class = "d-none" })
                            @Html.ValidationMessageFor(model => model.Id_Doctor)

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Nombre)
                            @Html.TextBoxFor(model => model.Nombre, new { @class = " form-control", @id = "txtNombre", @onkeypress = "return SoloLetras(event,'lblNombre')" })
                            @Html.ValidationMessageFor(model => model.Nombre)
                            @Html.Label("", null, new { @id = "lblNombre" })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">


                            @Html.LabelFor(model => model.ApellidoPaterno)
                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno", @onkeypress = "return SoloLetras(event,'lblApellidoPaterno')" })
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno)
                            @Html.Label("", null, new { @id = "lblApellidoPaterno" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.ApellidoMaterno)
                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno", @onkeypress = "return SoloLetras(event,'lblApellidoMaterno')" })
                            @Html.ValidationMessageFor(model => model.ApellidoMaterno)
                            @Html.Label("", null, new { @id = "lblApellidoMaterno" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Cedula)
                            @Html.TextBoxFor(model => model.Cedula, new { @class = "form-control", @onkeypress = "return SoloNumeros(event,'lblCedula')" })
                            @Html.ValidationMessageFor(model => model.Cedula)

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Fotografia)
                            <input type="file" name="ImagenData" onchange="Previsualizar(this);">

                            @if (Model.Fotografia != null)
                            {
                                <img id="ImagenData" src="data:image/jpeg;base64,@Model.Fotografia" width="200" height="200" />


                            }
                            else
                            {
                                <img id="ImagenData" src="~/Img/doctordefault.jpg" style=" height:200px; width:200px;" />
                            }
                            @Html.ValidationMessageFor(model => model.Fotografia)
                        </div>
                        @Html.HiddenFor(model => model.Fotografia)



                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Especialidad.Id_Especialidad)
                            @*@Html.TextBoxFor(model => model.Rol.IdRol, new { @class = "form-control" })*@
                            @Html.DropDownListFor(model => model.Especialidad.Id_Especialidad, new SelectList(Model.Especialidad.Especialidades, "Id_Especialidad", "Descripcion"), "Selecciona una especialidad", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Especialidad.Id_Especialidad)
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-md-3">

                            <input type="submit" value="Guardar" class="btn btn-success" />
                            <a href="@Url.Action("Index", "Home")">
                                <i class="bi bi-arrow-return-left"></i>
                            </a>


                        </div>

                    </div>



                </div>

            }

        </div>

    </div>

</div>



@*IMAGEN FORMA *@

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('ImagenPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);

        }

    }
</script>

<script type="text/javascript">
    function Previsualizar(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#ImagenPreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script type="text/javascript">
    function SoloNumeros(e, controlId) {
        var caracter = e.key;
        if (!/^[0-9]/g.test(caracter)) {
            $('#' + controlId).text("Solo se aceptan numeros");
            $('#' + controlId).css({ "color": "red" });
            return false;
        }
        else {
            $('#' + controlId).text("");
            return true;
        }
    }
</script>